[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pydantic = "*"
pycryptodome = "*"
numpy = "*"
pytorch-lightning = "*"
lightning-bolts = "*"
minio = "*"
torchvision = "*"
s3fs = "*"
fsspec = { extras = ["s3"], version = "*" }
SQLAlchemy = "*"
psycopg2-binary = ""
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
loguru = "*"
python-socketio = { extras = ["asyncio_client"], version = "*" }
aioredis = "*"
tenseal = "*"
plotly = "*"
alembic = "*"
httpx = "*"
pandas = "*"
pendulum = "*"
fhir-kindling = "*"

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"
pandas = "*"
seaborn = "*"
bump2version = "*"
python-dotenv = "*"
scikit-learn = "*"
black = { extras = ["d"], version = "*" }
isort = "*"
autoflake = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
